include LICENSE
include README.rst
recursive-include openquakeplatform_ipt *.py
recursive-include openquakeplatform_ipt/management *
recursive-include openquakeplatform_ipt/static *
recursive-include openquakeplatform_ipt/templates *
recursive-include openquakeplatform_ipt/test *
