include LICENSE
include README.rst
recursive-include openquakeplatform_plugins *.py
recursive-include openquakeplatform_plugins/ipt/static *
recursive-include openquakeplatform_plugins/ipt/templates *
