# GEM Mirror
# We provide pre-compiled manylinux1 wheels

https://wheelhouse.openquake.org/v3/linux/py/Django-3.2.6-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py38/pyproj-2.5.0-cp38-cp38-manylinux1_x86_64.whl
