# GEM Mirror
# We provide pre-compiled manylinux1 wheels

https://wheelhouse.openquake.org/v2/macos/py/Django-2.2.7-py3-none-any.whl
https://wheelhouse.openquake.org/v2/macos/py36/pyproj-1.9.5.1-cp36-cp36m-macosx_10_6_intel.whl
https://wheelhouse.openquake.org/v2/macos/py36/GDAL-2.4.1.post1-cp36-cp36m-macosx_10_9_x86_64.whl
