<div class="menuItems">
  <label>Description:</label>
  <textarea id="description" rows="4" cols="10" name="description">Event based calculation</textarea>
</div>

<div name="exposure-model">
  {% include "ipt/tabs/cf/sect_exposure_model.html" %}
</div>

<div name="vulnerability-model">
 {% include "ipt/tabs/cf/sect_vulnerability_model.html" %}
</div> <!-- vulnerability model -->

<h3>Hazard model</h3>
<div> TODO </div>

<div style="min-height: 50px;" name="site-conditions"><!-- site conditions block -->
  {% include "ipt/tabs/cf/sect_site_conditions.html" %}
</div> <!-- end site conditions -->

<div style="text-align: center;">
  <hr>
  <button type="submit" style="vertical-align: top; margin: auto;" class="btn btn-primary" name="download">Download Zip File</button><form name="downloadForm" method="post">{% csrf_token %}</form>
</div>

<div id="dialog-message" title="Error" style="display: none; width: 600px;">
</div>
