The OpenQuake volcano calculator can be used for the calculation of damage distribution statistics or individual asset and portfolio loss statistics for a portfolio of buildings starting from hazard footprints.<br/>
Four hazard perils can be considered, related to the following phenomena and codes:
<ul class="phen-list">
  <li>Ash fall</li>
  <li>Lahar</li>
  <li>Lava flow</li>
  <li>Pyroclastic flow</li>
</ul>
<p style="clear: both;"></p>
For AshFall only ash thickness is considered, and the other perils are assumed to be binary.<br/><br/>

<div>
  <h3>General</h3>
<!-- <a target="_blank" href="#" onclick="gem_ipt.help_msg(''); return false;"><span class="ui-icon ui-icon-help ipt_help" title=''></span></a> -->
  <div class="menuItems">
    <label>Description:</label>
    <textarea id="description" rows="4" cols="10" name="description" class="gem-gen-descr">Volcano scenario calculation</textarea>
  </div>
</div>
  
<div name="phens" class="alert alert-info" role="alert">Choose at least one volcano phenomena.
  <div class="menuItems" style="text-align: center;">
    <form style="margin: 0px;">
      <div class="chbox">
        <input style="margin:0;" type="checkbox" name="ashfall">
        <span class="inlible">Ash fall</span>
      </div>
      <div class="chbox">
        <input style="margin:0;" type="checkbox" name="lavaflow">
        <span class="inlible">Lava flow</span>
      </div>
      <div class="chbox">
        <input style="margin:0;" type="checkbox" name="lahar">
        <span class="inlible">Lahar</span>
      </div>
      <div class="chbox chbox_last">
        <input style="margin:0;" type="checkbox" name="pyroclasticflow">
        <span class="inlible">Pyroclastic flow</span>
      </div>
    </form>
  </div>
</div>


<div style="display: none;" name="ashfall-input">
  <h3>Ash fall</h3>
  <div class="menuItems">
    <label>Input format

      <a target="_blank" href="#" onclick="gem_ipt.help_msg('\
Possible formats are:<br/><ul><li>An Ash3d output file containing Ash deposit/thikness. ASCII (ASC) file format (USGS, <a target=\'_blank\' href=\'https://vsc-ash.wr.usgs.gov/ashgui/#/\'>https://vsc-ash.wr.usgs.gov/ashgui/#/</a>).<br/>\
See example file <a target=\'_blank\' href=\'/deposit_thickness_mm_shp.asc\'>/deposit_thickness_mm_shp.asc</a>\
<li>A CSV file with three columns named: lon, lat, intensity.<br/>\
See example <a target=\'_blank\' href=\'/ash_fall.csv\'>./ash_fall.csv</a></li>\
<li>A single polygonal shapefile from ESRI describing the ash deposit/thickness. The user should provide a .zip containing at least the .shp, .shx, .dbf and .prj files components of the ESRI shapefile.<br/>\
See example <a target=\'_blank\' href=\'/deposit_thickness_mm_shp.zip\'>deposit_thickness_mm_shp.zip</a>\
', 'ash fall - type of input', 'Ash fall - type of input'); return false;"><span class="ui-icon ui-icon-help ipt_help" title='Input file format for Ash fall. Click for more details.'></span></a>
      :</label>
    <select name="in-type">
      <option value="openquake">OpenQuake</option>
      <option value="text">Text file</option>
      <option value="shape" disabled="disabled">Shape file</option>
    </select>
  </div>
  <div class="menuItems" name="epsg">
    <label>Coordinate reference system [EPSG] <span class="ui-icon ui-icon-help ipt_help" title='The spatial reference system (SRS) used in the input layer. The SRS must follow the EPSG codes implemented by GDAL (www.iogp.org).'></span> :</label>
    <input type="text" name="epsg" placeholder="4326" title="4326 (that corresponds to WGS84 projection)" oninput="this.value = this.value.replace(/[^0-9]/, '')"/>
  </div>
  
  <div class="menuItems" name="ashfall-file-html">
    <label>Hazard footprint:</label>
    {{ ashfall_file_html.file_html }}
    {{ ashfall_file_html.new_btn }}
  </div>
  <div class="menuItems" name="ashfall-file-new" style="display: none;">
    <div name="msg"><br></div>
    {% if gem_qgis == None %}
    <form action="upload/ashfall_file" method="post" id="file-upload-form" name="ashfall-file"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ ashfall_file_upload.file_upload }}
    </form>
    {% endif %}
  </div>

  <div class="menuItems">
    <label>Humidity amplification factor:</label><input type="text" name="hum-ampl" value="1.6"/>
  </div>
</div>

<div style="display: none;" name="lavaflow-input">
  <h3>Lava flow</h3>
  <div class="menuItems">
    <label>Input format:

      <a target="_blank" href="#" onclick="gem_ipt.help_msg('\
Possible formats are:<br/>\
<ul>\
<li>A Q-LavaHa file. ASCII (ASC) file format (VUB, <a target=\'_blank\' href=\'http://we.vub.ac.be/en/q-lavha\'>http://we.vub.ac.be/en/q-lavha</a>).<br/>\
See example file <a target=\'_blank\' href=\'/LAVASIMEtna_90.asc\'>LAVASIMEtna_90.asc</a></br>\
</li>\
<li>A CSV file with three columns named: lon, lat, intensity.<br/>\
See example <a target=\'_blank\' href=\'/lava_flow.csv\'>lava_flow.csv</a></li>\
<li>A single polygonal shapefile from ESRI describing the ash deposit/thickness. The user should provide a .zip containing at least the .shp, .shx, .dbf and .prj files components of the ESRI shapefile.<br/>\
See example <a target=\'_blank\' href=\'/lava_flow_shp.zip\'>lava_flow_shp.zip</a></li>\
</ul>', 'Lava flow - type of input'); return false;"><span class="ui-icon ui-icon-help ipt_help" title='Input file format for Lava flow. Hazard values are assumed to be binary (&apos;1&apos; affected and &apos;0&apos; not affected). Click for more details'></span></a>
      :</label>
    </label>
    <select name="in-type">
      <option value="openquake">OpenQuake</option>
      <option value="text">Text file</option>
      <option value="shape" disabled="disabled">Shape file</option>
    </select>
  </div>
  <div class="menuItems" name="epsg">
    <label>Coordinate reference system [EPSG] <span class="ui-icon ui-icon-help ipt_help" title='The spatial reference system (SRS) used in the input layer. The SRS must follow the EPSG codes implemented by GDAL (www.iogp.org).'></span> :</label>
    <input type="text" name="epsg" placeholder="4326" title="4326 (that corresponds to WGS84 projection)" oninput="this.value = this.value.replace(/[^0-9]/, '')"/>
  </div>
  <div class="menuItems" name="lavaflow-file-html">
    <label>Hazard footprint:</label>
    {{ lavaflow_file_html.file_html }}
    {{ lavaflow_file_html.new_btn }}
  </div>
  <div class="menuItems" name="lavaflow-file-new" style="display: none;">
    <div name="msg"><br></div>
    {% if gem_qgis == None %}
    <form action="upload/lavaflow_file" method="post" id="file-upload-form" name="lavaflow-file"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ lavaflow_file_upload.file_upload }}
    </form>
    {% endif %}
  </div>
</div>

<div style="display: none;" name="lahar-input">
  <h3>Lahar</h3>
  <div class="menuItems">
    <label>Input format
      <a target="_blank" href="#" onclick="gem_ipt.help_msg('\
Possible formats are:<br/>\
<ul>\
<li>A LaharZ file. ASCII (ASC) file format (USGS, <a target=\'_blank\' href=\'https://pubs.er.usgs.gov/publication/ofr98638\'>https://pubs.er.usgs.gov/publication/ofr98638</a>).</li><br/>\
See example file <a target=\'_blank\' href=\'lahars_binary.asc\'>lahars_binary.asc</a></li>\
<li>A CSV file with three columns named: lon, lat, intensity.<br/>\
See example <a target=\'_blank\' href=\'/lahars.csv\'>/lahars.csv</a></li>\
<li>A single polygonal shapefile from ESRI describing the ash deposit/thickness. The user should provide a .zip containing at least the .shp, .shx, .dbf and .prj files components of the ESRI shapefile.<br/>\
See example <a target=\'_blank\' href=\'/lahars_binary_shp.zip\'>lahars_binary_shp.zip</a><br/>\
</li></ul>\
', 'Lahar - type of input'); return false;"><span class="ui-icon ui-icon-help ipt_help" title='Input file format for Lava flow. Hazard values are assumed to be binary (&apos;1&apos; affected and &apos;0&apos; not affected). Click for more details.'></span></a>

      :</label>
    <select name="in-type">
      <option value="openquake">OpenQuake</option>
      <option value="text">Text file</option>
      <option value="shape" disabled="disabled">Shape file</option>
    </select>
  </div>
  <div class="menuItems" name="epsg">
    <label>Coordinate reference system [EPSG] <span class="ui-icon ui-icon-help ipt_help" title='The spatial reference system (SRS) used in the input layer. The SRS must follow the EPSG codes implemented by GDAL (www.iogp.org).'></span> :</label>
    <input type="text" name="epsg" placeholder="4326" title="4326 (that corresponds to WGS84 projection)" oninput="this.value = this.value.replace(/[^0-9]/, '')"/>    
  </div>
  <div class="menuItems" name="lahar-file-html">
    <label>Hazard footprint:</label>
    {{ lahar_file_html.file_html }}
    {{ lahar_file_html.new_btn }}
  </div>
  <div class="menuItems" name="lahar-file-new" style="display: none;">
    <div name="msg"><br></div>
    {% if gem_qgis == None %}
    <form action="upload/lahar_file" method="post" id="file-upload-form" name="lahar-file"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ lahar_file_upload.file_upload }}
    </form>
    {% endif %}
  </div>
</div>

<div style="display: none;" name="pyroclasticflow-input">
  <h3>Pyroclastic flow</h3>
  <div class="menuItems">
    <label>Type of input <a target="_blank" href="#" onclick="gem_ipt.help_msg('\
Possible formats are:<br\>\
<ul>\
  <li>A Titan2 file. Format .-00001 (GMFP at University of Buffalo, <a target=\'_blank\' href=\'http://www.gmfg.buffalo.edu/\'>http://www.gmfg.buffalo.edu/</a>).<br/>\
See example file <a target=\'_blank\' href=\'pileheightrecord.-00001\'>pileheightrecord.-00001</a></li>\
  <li>A CSV file with three columns named: lon, lat, intensity.<br/>\
    See example <a target=\'_blank\' href=\'/pyroclastic_flow.csv\'>pyroclastic_flow.csv</a></li>\
  <li>A single polygonal shapefile from ESRI describing the ash deposit/thickness. The user should provide a .zip containing at least the .shp, .shx, .dbf and .prj files components of the ESRI shapefile.<br/>\
See example <a target=\'_blank\' href=\'/pyroclastic_flow_shp.zip\'>pyroclastic_flow_shp.zip</a></li>\
<ul>', 'Pyroclastic flow - type of input'); return false;"><span class="ui-icon ui-icon-help ipt_help" title='Input file format for Lava flow. Hazard values are assumed to be binary (&apos;1&apos; affected and &apos;0&apos; not affected). Click for more details'></span></a>
      :</label>
    <select name="in-type">
      <option value="openquake">OpenQuake</option>
      <option value="text">Text file</option>
      <option value="shape" disabled="disabled">Shape file</option>
    </select>
  </div>
  <div class="menuItems" name="epsg">
    <label>Coordinate reference system [EPSG] <span class="ui-icon ui-icon-help ipt_help" title='The spatial reference system (SRS) used in the input layer. The SRS must follow the EPSG codes implemented by GDAL (www.iogp.org).'></span> :</label>
    <input type="text" name="epsg" placeholder="4326" title="4326 (that corresponds to WGS84 projection)" oninput="this.value = this.value.replace(/[^0-9]/, '')"/>
  </div>
  <div class="menuItems" name="pyroclasticflow-file-html">
    <label>Hazard footprint:</label>
    {{ pyroclasticflow_file_html.file_html }}
    {{ pyroclasticflow_file_html.new_btn }}
  </div>
  <div class="menuItems" name="pyroclasticflow-file-new" style="display: none;">
    <div name="msg"><br></div>
    {% if gem_qgis == None %}
    <form action="upload/pyroclasticflow_file" method="post" id="file-upload-form" name="pyroclasticflow-file"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ pyroclasticflow_file_upload.file_upload }}
    </form>
    {% endif %}
  </div>
</div>

{% include "ipt/tabs/cf/sect_exposure_model.html" %}

<div name="fragility" style="display: none;">
  <h3>Fragility model</h3>
  <div class="menuItems" name="fm-ashfall-file-html" data-gem-group="fragility-model">
    <label>Ash fall structural fragility model <span class="ui-icon ui-icon-help ipt_help" title='A fragility model defines a set of fragility functions, describing the probability of exceeding a set of limit, or damage, states. Note: it is necessary to define a fragility function for each building typology present in the exposure model'></span>
      :</label>
    {{ fm_ashfall_file_html.file_html }}
    {{ fm_ashfall_file_html.new_btn }}
  </div>
  <div class="menuItems" name="fm-ashfall-file-new" style="display: none;">
    <div name="msg"><br></div>
    {% if gem_qgis == None %}
    <form action="upload/fragility_model" method="post" id="file-upload-form" name="fm-ashfall-file"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ fm_ashfall_file_upload.file_upload }}
    </form>
    {% endif %}
  </div>

  <div>
    <div class="alert alert-info ipt-info" role="alert" style="text-align: center;">
      <form style="margin: 0px;">
        <div class="chbox chbox_last">
          <input style="margin:0;" type="checkbox" name="is-cons-models">
          <span class="inlible">Include consequence models</span>
        </div>
      </form>
    </div>
  </div>

  <div name="ashfall-cons" style="display: none;">
    <div class="menuItems" name="fm-ashfall-cons-html" data-gem-group="fragility-cons">
      <label>Ash fall consequence model <span class="ui-icon ui-icon-help ipt_help" title='A consequence model defines a set of consequence functions, describing the distribution of the loss (or consequence) ratio conditional on a set of discrete limit (or damage) states.'></span>:</label>
      {{ fm_ashfall_cons_html.file_html }}
      {{ fm_ashfall_cons_html.new_btn }}
    </div>
    <div class="menuItems" name="fm-ashfall-cons-new" style="display: none;">
      <div name="msg"><br></div>
      {% if gem_qgis == None %}
      <form action="upload/fragility_cons" method="post" id="file-upload-form" name="fm-ashfall-cons"
            enctype="multipart/form-data">
        {% csrf_token %}
        {{ fm_ashfall_cons_upload.file_upload }}
      </form>
      {% endif %}
    </div>
  </div>
</div>

<div style="text-align: center;">
  <hr>
  <button type="submit" style="vertical-align: top; margin: auto;" class="btn btn-primary" name="clean_all">Clean all</button>

  <button type="submit" style="vertical-align: top; margin: auto;" class="btn btn-primary" name="download">{%if gem_qgis != None %}'Save As'{% else %}Download{% endif %} Zip File</button>
  {%if gem_qgis != None %}
  <button name="run-calc-btn" type="button" style="vertical-align: top; margin: auto;" class="btn btn-primary">Run Calculation</button>
  {% endif %}
  <form style="display: inline-block;" name="downloadForm" method="post">{% csrf_token %}</form>
</div>
