<div id="tabs" name="subtabs">
  <ul class="nav nav-tabs oqplatform">
    <li class="active"><a href="#subtabs-1">Earthquake Scenarios</a></li>
    <li><a href="#subtabs-2">Classical Probabilistic</a></li>
    <li><a href="#subtabs-3">Stochastic Event-Based</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active in" id="subtabs-1" name="eq-scenario">
      The OpenQuake scenario calculators can be used for the calculation of damage distribution statistics or individual asset and portfolio loss statistics for a portfolio of buildings from a single earthquake rupture scenario, taking into account aleatory and epistemic ground-motion variability.<br><br>
      <div class="alert alert-info" role="alert">1. Choose components of your configuration file and fill related fields.

        <div class="menuItems" style="text-align: center;">
          <div class="chbox">
            <input style="margin:0;" type="checkbox" name="hazard" checked="checked">
            <span class="inlible">Hazard</span>
          </div>
          <div class="chbox">
            <input style="margin:0;" type="checkbox" name="risk">
            <span class="inlible">Risk</span>

            <span style="display: none;" name="risk-menu">
              <input style="margin:0;" type="radio" name="eq-scenario_radio-risk" value="damage" checked="checked">
              <span class="inlible">Damage</span>
              <input style="margin:0;" type="radio" name="eq-scenario_radio-risk" value="losses">
              <span class="inlible">Losses</span>
            </span>
          </div>
        </div>
      </div>
      <div name="hazard-content">
        <h2>Scenario Hazard</h2>

        <div class="menuItems">
          <label>Description:</label>
          <textarea id="description" rows="4" cols="10" value="exposure_model">Scenario calculation</textarea>
        </div>
        <h3>Rupture information</h3>

        <div class="menuItems" name="rupture-file-html">
          <label>Rupture file:</label>
          {{ rupture_file_html.file_html }} <button type="submit" style="vertical-align: top;" class="btn btn-primary" name="rupture-file-new">New</button>
        </div>
        <div class="menuItems" name="rupture-file-new" style="display: none;">
          <div name="msg"></div>
          <form action="upload/rupture_file" method="post" id="file-upload-form" name="rupture_file" enctype="multipart/form-data">
            {% csrf_token %}
            {{ rupture_file_upload.file_upload }}
            <button type="submit" class="btn btn-primary" id='upload-btn'>Upload</button>
          </form>
        </div>
        
        <div class="menuItems">
          <label>Rupture mash spacing (km):</label>
          <input type="text" name="rupture_mash_spacing" value="5.0">
        </div>

        <div class="alert alert-info" role="alert">
          2. Choose a method to input hazard sites:<br>
          <div class="menuItems" style="width: 800px; text-align: center;">
            <div class="chbox">
              <input type="radio" name="eq-scenario_hazard_sites" value="region-grid" checked="checked">
              <span class="inlible">Region grid</span>
            </div>
            <div class="chbox">
              <input type="radio" name="eq-scenario_hazard_sites" value="list-of-sites">
              <span class="inlible">List of sites</span>
            </div>
            <div class="chbox">
              <input type="radio" name="eq-scenario_hazard_sites" value="exposure-model">
              <span class="inlible">Exposure model</span>
            </div>
            <div class="chbox">
              <input type="radio" name="eq-scenario_hazard_sites" value="site-cond-model">
              <span class="inlible">Read locations from site conditions</span>
            </div>
          </div>
        </div>
        <div name="hazard-sites_region-grid">
          <h3>Region grid</h3>
          <div class="menuItems">
            <label>Grid spacing (km):</label>
            <input type="text" name="grid_spacing" value="5.0">
          </div>
          <div class="menuItems" style="/* background-color: green; */ ">
            <div style="display: inline-block; /* background-color: pink; */ float: left;">
              <label>Coordinates:</label>
            </div>
            <div style="position: relative; display: inline-block; /* background-color: red; */ text-align: center;">
              <div name="table" style=" width: 300px; height: 120px; overflow: hidden; padding: auto;"></div>
              <button name="new_row_add" class="btn">New Row</button>
              <br><br>
            </div>
          </div>
        </div>
        <div name="hazard-sites_list-of-sites">
          <h3>List of sites</h3>
          <!-- <div class="menuItems">
            <label>Sites:</label>
            {# list_of_sites_html #}
          </div> -->

        <div class="menuItems" name="list-of-sites-html">
          <label>Sites:</label>
          {{ list_of_sites_html.file_html }} <button type="submit" style="vertical-align: top;" class="btn btn-primary" name="list-of-sites-new">New</button>
        </div>
        <div class="menuItems" name="list-of-sites-new" style="display: none;">
          <div name="msg"></div>
          <form action="upload/list_of_sites" method="post" id="file-upload-form" name="list_of_sites" enctype="multipart/form-data">
            {% csrf_token %}
            {{ list_of_sites_upload.file_upload }}
            <button type="submit" class="btn btn-primary" id='upload-btn'>Upload</button>
          </form>
        </div>
          
        </div>
        <div name="hazard-sites_exposure-model">
          <h3>Exposure model</h3>

        <div class="menuItems" name="exposure-model-html">
          <label>Exposure:</label>
          {{ exposure_model_html.file_html }} <button type="submit" style="vertical-align: top;" class="btn btn-primary" name="exposure-model-new">New</button>
        </div>
        <div class="menuItems" name="exposure-model-new" style="display: none;">
          <div name="msg"></div>
          <form action="upload/exposure_model" method="post" id="file-upload-form" name="exposure_model" enctype="multipart/form-data">
            {% csrf_token %}
            {{ exposure_model_upload.file_upload }}
            <button type="submit" class="btn btn-primary" id='upload-btn'>Upload</button>
          </form>
        </div>

          
        <div name="hazard-sites_site-cond-model">
        </div>

        <div style="min-height: 50px;">
          <div class="alert alert-info" role="alert">
            3. Select a method to specify site conditions:<br>
            <div class="menuItems" style="width: 800px; text-align: center;">
              <div class="chbox">
                <input type="radio" name="eq-scenario_hazard_sitecond" value="uniform-param" checked="checked">
                <span class="inlible">Use uniform site parameters</span>
              </div>
              <div class="chbox">
                <input type="radio" name="eq-scenario_hazard_sitecond" value="from-file">
                <span class="inlible">Site conditions file</span>
              </div>
            </div>
          </div>
          <h3>Site conditions</h3>

          <div name="hazard-sitecond_uniform-param" style="text-align: center;">
            <table style="width: 500px; margin: auto;">
              <tr><td style="text-align: left;">
                  <label>Reference vs30 value (m/s):</label>
                </td><td style="text-align: right;">
                  <input type="text" name="reference_vs30_value" value="760">
              </td></tr>
              <tr><td style="text-align: left;">
                  <label>Reference vs30 type:</label>
                </td><td style="text-align: right;">
                  <input type="radio" name="eq-scenario_hazard_sitecond_type" value="inferred" checked="checked"><span class="inlible">Inferred</span>
                  <input type="radio" name="eq-scenario_hazard_sitecond_type" value="measured"><span class="inlible">Measured</span>

              </td></tr>
              <tr><td style="text-align: left;">
                  <label>Minimum depth (km)<br>at which vs30 ≥ 2.5 km/s:</label>
                </td><td style="text-align: right;">
                  <input type="text" name="reference_depth_to_2pt5km_per_sec" value="5.0">
              </td></tr>
              <tr><td style="text-align: left;">
                  <label style="display: inline-block; float: left;">Minimum depth (m)<br>at which vs30 ≥ 1.0 km/s:</label>
                </td><td style="text-align: right;">
                  <input type="text" name="reference_depth_to_1pt0km_per_sec" value="100.0">
              </td></tr>
            </table>
          </div>
          <div name="hazard-sitecond_from-file">
            <div class="menuItems">
              <label>Site conditions file:</label>
              {{ site_model_file_html }}
            </div>
          </div>
        </div>
      </div>
    </div> <!-- subtabs-1 end -->
  <div class="tab-pane" id="subtabs-2" name="class-prob">
    rebero
    </div>

    <div class="tab-pane" id="subtabs-3">
      ABCD3
      The OpenQuake stochastic event-based calculators can be used for the calculation of event loss tables starting from stochastic event sets. Other results such as loss- exceedance curves, probabilistic loss maps, average annual losses, and insured loss statistics can be obtained by post-processing the event loss tables.
    </div>
  </div>
</div>
